@import "tailwindcss";

@theme {
    --color-primary: #2A1458;
    --color-secondary: #E8988A;
    --color-purple: #9B177E;
    --color-light: #FFEAD8;
    --color-warning: #FFD43B;
    --color-danger: #cf3737;
}



